@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="_Layout.cshtml" />
    <title>Farm Smart</title>
   
</head>

<body>

    <header>
        <h1>Farm Smart</h1>
        <p>Welcome to Farmerz Weather Hub, your go-to source for accurate and up-to-date weather information tailored specifically for the farming community. At Farmerz, we understand the crucial role weather plays in agricultural activities, and our mission is to empower farmers with the knowledge they need to make informed decisions.</p>

        <hr />
        <br />
       
    </header>

    <h2>Backed by Science</h2>
    <br />
    <hr />
    <p>A consistent and well-distributed supply of rain throughout the growing season is crucial for achieving high crop yields. Insufficient or irregular rainfall can lead to crop stress, reduced yields, and economic losses for farmers.</p>
    <br />
    <hr />

    <p>Optimal humidity levels are essential for the overall growth and development of crops. Different crops have varying humidity preferences, and farmers need to consider these requirements to maximize yields.</p>
    <br />
    <hr />
    <p>Humidity can influence the activity of certain pests. Some pests, such as fungi and insects, thrive in humid conditions. Monitoring and controlling humidity levels can help in pest management strategies to protect crops.</p>
    <br />
    <hr />
    <h2>Sign Up Today</h2>
    <p> Money back guranteed </p>
    <br />
   
    
        <a href="test">
            <button class="highlight-button">Click me to sign up</button>
        </a>
        <br>
    <div class="footer">
        <h5>Farmsmart - Cultivating Innovation</h5>
        <p>© 2024 Farm Smart</p>
    </div>
    

</body>

</html>
