@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>

<body>
    <header>
        <h1>Privacy Policy for Farmsmart</h1>
    </header>

        <section>
            <h2>Information We Collect:</h2>
            <p>We collect only necessary personal information for the purpose of providing our services.</p>
        </section>

        <section>
            <h3>How We Use Your Information:</h3>
            <p>We use your information solely for the purpose of improving our services and communicating with you.</p>
        </section>

        <section>
            <h4>Data Security:</h4>
            <p> We prioritize the security of your information and employ measures to safeguard it.</p>
        </section>

        <section>
            <h5>Contact Us:</h5>
            <p> For any questions or concerns regarding our privacy policy, please contact us at [email address/phone number].</p>
        </section>
</body>
</html>
